<% cache(@videos) do %>
  <div class="">
    <% if @videos.any? %>
      <% @videos.each do |video| %>
        <%= render "videos/video", video: video %>
      <% end %>
    <% else %>
      <div class="w-full items-center flex flex-col justify-center min-h-screen">
        No more videos to display...
      </div>
    <% end %>
  </div>

  <div class="w-full fixed bottom-0 bg-white text-center px-2 py-4">
    <%= @videos.prev_link %>
    <%= @videos.next_link %>
  </div>
<% end %>