<% cache(@library) do %>
  <div class="p-4 pb-16">
    <% if @library.videos.any? %>
      <% @library.videos.each do |video| %>
        <%= render 'library/video', video: video %>
      <% end %>
    <% else %>
      <div class="w-full items-center flex flex-col justify-center min-h-screen">
        No more videos to display...
      </div>
    <% end %>
  </div>

  <div class="w-full fixed bottom-0 bg-white text-center px-2 py-4">
    <%= @library.prev_link %>
    <%= @library.next_link %>
  </div>
<% end %>